fastapi
uvicorn
sqlalchemy
pydantic[email]
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
python-dotenv
psycopg2-binary
alembic
pytest
httpx
transformers
torch
roboflow
numpy
ultralytics